[Desktop Entry]
Name=Danger from the Deep
Comment=WW2 german submarine simulation
Comment[pl]=Symulacja niemieckiej łodzi podwodnej
Icon=logo.xpm
Exec=dangerdeep
Terminal=false
Type=Application
Categories=Game;Simulation;
Encoding=UTF-8
# vi: encoding=utf-8
